/* Space out content a bit */
body {
  padding-top: 50px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 980px;
    padding: 0;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 300px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.left{
  display: inline-block;
  background-color: red;
  min-width: 200px;
  max-width: 500px;
}

.right{
  display: inline-block;
  background-color: blue;
  width: 300px;

}


/*Estilos del Nav Bar*/
.MainMenu{
  background: #f4f4f4;
  height: 3em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  border-style: solid;
    border-color: transparent transparent #ddd;
    border-width: 0.12em;
}

.MainMenu-logoContainer{
  display: inline-block;
  margin: 0;
  line-height: 3em;
  position: relative;
  top: 0.45em;
}

.navbar-brand{
  padding: 0.7em 0;
}

.nav.navbar-nav{
  font-size: 16px;
  min-height: 50%;
  max-height: 50%;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus{
  color: #4285f4;
  text-decoration: none;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover{
  color: #4285f4;
  text-decoration: none;
}

.MainMenu-button{
  color: #fff;
  font-size: 1.2em;
  background: #f02323;
  border: none;
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  margin-top: 8px;

}

.MainMenu-smallButton{
  color: #fff;
  font-size: 1.8em;
  background: #f02323;
  border: none;
  padding: 0em 0.5em;
  border-radius: 0.5em;
  margin-top: 7.1px;
}

.social-bar{
  position: absolute;
  left: 0;
  right: 0;
  padding: 1em;
  height: 50px;
  border-style: solid;
  border-color: transparent transparent #ddd;
  border-width: 0.12em;
  text-align: center;
}

.left-body{
  margin-top: 3em;
}

.right-body{
  margin-top: 3em;
}

.footer{
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}

.Tico{
  color: red;
}
/*Fin estilos del nav bar*/