<div class="col-xs-12 col-sm-8 col-lg-8 bodyLeft">
	<h1>{{titulo}}</h1>
	
	<button class="vote-up">
           <img class="facebookShare-image" src="/images/like.PNG" width="27px" height="30" alt="submit" />
          </button>
          <button class="vote-down">
           <img class="facebookShare-image" src="/images/unlike.PNG" width="27px" height="30" alt="submit" />
          </button>
          <button class="comments">
            <img class="facebookShare-image" src="/images/bubble.svg" width="27px" height="30" alt="submit" />
          </button>
          <button class="twitterShare">
          <p class="twitterShare-description hidden-xs">Twitter</p>
            <img class="twitterShare-image hidden-xs" src="/images/twittericon.PNG" width="22" height="17" alt="submit" />
            <img class="twitterShare-imageMobile visible-xs" src="/images/twittericon.PNG" width="22" height="17" alt="submit" />
          </button>
          <button class="facebookShare">
            <p class="facebookShare-description hidden-xs">Facebook</p>
            <img class="facebookShare-image hidden-xs" src="/images/facebookicon.PNG" width="11" height="18" alt="submit" />
            <img class="facebookShare-imageMobile visible-xs" src="/images/facebookicon.PNG" width="11" height="18" alt="submit" />
          </button>
          <img src="images/corcovado.jpg" max-width="600px" max-height="400">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom visible-xs" role="navigation">
	<button >Compartir Facebook</button>
</nav>