<div class="col-xs-12 col-sm-8 col-lg-8 bodyLeft" example scroll>
	<h1>{{titulo}}</h1>
		<p>8569 puntos - 4 comentarios</p>
		<div id="sharebar">
			<button class="vote-up">
	        	<img class="facebookShare-image" src="/images/like.PNG" width="27px" height="26" alt="submit" />
	        </button>
	        <button class="vote-down">
	        	<img class="facebookShare-image" src="/images/unlike.PNG" width="27px" height="26" alt="submit" />
	        </button>
	        <button class="comments">
	        	<img class="facebookShare-image" src="/images/bubble.svg" width="27px" height="30" alt="submit" />
	        </button>
	        <button class="twitterShare">
		        <p class="twitterShare-description hidden-xs">Twitter</p>
		        <img class="twitterShare-image hidden-xs" src="/images/twittericon.PNG" width="22" height="17" alt="submit" />
		        <img class="twitterShare-imageMobile visible-xs" src="/images/twittericon.PNG" width="22" height="17" alt="submit" />
	        </button>
	        <button class="facebookShare">
		        <p class="facebookShare-description hidden-xs">Facebook</p>
		        <img class="facebookShare-image hidden-xs" src="/images/facebookicon.PNG" width="11" height="18" alt="submit" />
		        <img class="facebookShare-imageMobile visible-xs" src="/images/facebookicon.PNG" width="11" height="18" alt="submit" />
	        </button>
        </div>
       <img class="articuloIndividual-Imagen" src="images/corcovado.jpg" max-height="400" width="100%">

       <section class="articuloIndividual-Contenido">
       		<h3>1. Bla bla lalala</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<h3>2. Bla bla lalala</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<h3>3. Bla bla lalala</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</section>
		<h4 style="text-align:center">¡Comparta esto con otros ticos!</h4>
		<section class="articuloIndividual-Compartir">
			<button class="articuloIndividual-CompartirFacebook">
	        <p class="facebookShare-description ">Compartir en Facebook</p>
	        </button>
			<button class="articuloIndividual-CompartirTwitter">
	        <p class="twitterShare-description">Compartir en Twitter</p>
	        </button>
        </section>
        <section class="articuloIndividual-Comentarios">
        <h4>145 Comentarios</h4>
        <div class="fb-comments" data-href="http://facebook.com/TicoBuzz" data-width="600px" data-numposts="5" data-colorscheme="light"></div>
        </section>
</div>
