<!-- Comienza el body lado izquierdo -->
<div class="col-xs-12 col-sm-8 col-lg-8 bodyLeft">

        <article class="mainArticle">
          <figure class="mainArticle-ImageContainer">
            <label class="labels2">
              <h2 class="mainArticle-Description">23 lugares para descubrir en Costa Rica antes de pensar en viajar al extranjero.
              </h2>
            </label>
            <img class="mainArticle-Image" src="images/flamingo.jpg">
          </figure>
        </article>


      <article class="homeArticle" ng-repeat="post in posts">
        <a ng-href="#/{{post.tipo | lowercase}}/{{post.titulo | titulo}}"><figcaption class="homeArticle-Description"><h2>{{post.titulo}}</h2></a>
        </figcaption>
          <figure class="homeArticle-ImageContainer">
            <label ng-class="post.label">
              <h3>{{post.tipo}}</h3>
            </label>
            <img class="homeArticle-Image" src="{{post.imagen}}">
          </figure>
          <span class="points">{{post.puntos}} puntos - {{post.comentarios.length}} comentarios</span>
          </br>
          <button class="vote-up">↑</button>
          <button class="vote-down">↓</button>
          <button class="comments">Comentarios</button>
          <button class="twitter-share">Twitter</button>
          <button class="fb-share">Facebook</button>
      </article>

        <button class="cargar"><p>... Cargando más artículos ...</p></button>
</div>