<!-- Comienza el body lado izquierdo -->
<div class="col-xs-12 col-sm-8 col-lg-8 left-body">

        <article class="mainArticle">
          <figure class="mainArticle-ImageContainer">
            <label class="labels2">
              <h2 class="mainArticle-Description">23 lugares para descubrir en Costa Rica antes de pensar en viajar al extranjero.
              </h2>
            </label>
            <img class="mainArticle-Image" src="images/flamingo.jpg">
          </figure>
        </article>


      <article class="homeArticle">
        <figcaption class="homeArticle-Description"><h2>10 lugares que debes visitar antes de pensar en viajar a otro país</h2>
        </figcaption>
          <figure class="homeArticle-ImageContainer">
            <label class="labels">
              <h3>Artículo</h3>
            </label>
            <img class="homeArticle-Image" src="images/corcovado.jpg">
          </figure>
          <span class="points">8569 puntos - 46 comentarios</span>
          </br>
          <button class="vote-up">↑</button>
          <button class="vote-down">↓</button>
          <button class="comments">Comentarios</button>
          <button class="twitter-share">Twitter</button>
          <button class="fb-share">Facebook</button>
      </article>

      <article class="homeArticle">
        <figcaption class="homeArticle-Description"><h2>10 lugares que debes visitar antes de pensar en viajar a otro país</h2></figcaption>
          <figure class="homeArticle-ImageContainer">
            <label class="labels">
              <h3>Quiz</h3>
            </label>
            <img class="homeArticle-Image" src="images/corcovado.jpg">
          </figure>
          <span class="points">8569 puntos - 46 comentarios</span>
          </br>
          <button class="vote-up">↑</button>
          <button class="vote-down">↓</button>
          <button class="comments">Comentarios</button>
          <button class="twitter-share">Twitter</button>
          <button class="fb-share">Facebook</button>
      </article>

      <article class="homeArticle">
        <figcaption class="homeArticle-Description"><h2>10 lugares que debes visitar antes de pensar en viajar a otro país</h2></figcaption>
          <figure class="homeArticle-ImageContainer">
            <label class="labels">
              <h3>Video</h3>
            </label>
            <img class="homeArticle-Image" src="images/corcovado.jpg">
          </figure>
          <span class="points">8569 puntos - 46 comentarios</span>
          </br>
          <button class="vote-up">↑</button>
          <button class="vote-down">↓</article<button class="comments">Comentarios</button>
          <button class="twitter-share">Twitter</button>
          <button class="fb-share">Facebook</button>
      </article>

        <button class="cargar"><p>... Cargando más artículos ...</p></button>
</div>