<!-- Comienza el body lado izquierdo -->
<div class="col-xs-12 col-sm-8 col-lg-8 bodyLeft">

        <article class="mainArticle">
          <figure class="mainArticle-ImageContainer">
            <label class="labels2">
              <h2 class="mainArticle-Description">23 lugares para descubrir en Costa Rica antes de pensar en viajar al extranjero.
              </h2>
            </label>
            <img class="mainArticle-Image" src="images/flamingo.jpg">
          </figure>
        </article>


      <article class="homeArticle" ng-repeat="post in posts">
        <a ng-href="#/{{post.tipo | lowercase}}/{{post.titulo | titulo}}">
          <figcaption class="homeArticle-Description"><h2>{{post.titulo}}</h2>
          </figcaption>
        </a> 
          <figure class="homeArticle-ImageContainer">
            <label ng-class="post.label">
              <i ng-class="post.icono"></i>
              {{post.tipo}}
            </label>
            <img class="homeArticle-Image" src="{{post.imagen}}">
          </figure>
          <span class="points">{{post.puntos}} puntos - {{post.comentarios.length}} comentarios</span>
          </br>
          <div class="sharebar">
          <button class="vote-up">
          <i class="fa fa-thumbs-o-up gris-oscuro mini-iconos"></i>
          </button>
          <button class="vote-down">
          <i class="fa fa-thumbs-o-down gris-oscuro mini-iconos"></i>
          </button>
          <button class="comments">
          <i class="fa fa-comments gris-oscuro mini-iconos"></i>
          </button>
          <button class="twitterShare">
          <p class="twitterShare-description hidden-xs">Twitter</p>
            <img class="twitterShare-image hidden-xs" src="/images/twittericon.PNG" width="22" height="17" alt="submit" />
            <img class="twitterShare-imageMobile visible-xs" src="/images/twittericon.PNG" width="22" height="17" alt="submit" />
          </button>
          <button class="facebookShare">
            <p class="facebookShare-description hidden-xs">Facebook</p>
            <img class="facebookShare-image hidden-xs" src="/images/facebookicon.PNG" width="11" height="18" alt="submit" />
            <img class="facebookShare-imageMobile visible-xs" src="/images/facebookicon.PNG" width="11" height="18" alt="submit" />
          </button>
          </div>
      </article>
</div>